*{
    margin: 0;
    body{
        background-color: seagreen;
        header{
            width: 100%;
            height: fit-content;
            background-color: mediumspringgreen;
            h4{
                margin-left: 40px;
            }
            nav{
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 15px;
                a{
                    margin: {
                        right: auto;
                        left: auto;
                    }
                    width: calc(100% / 3);
                    display: flex;
                    justify-content: center;
                    border: {
                        top: 4px;
                        bottom: 4px;
                        left: 4px;
                        color: black;
                    }
                    border-style: solid;
                    &:hover{
                        background-color: #00FA9A;
                    }
                    h2{
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-weight: 500;
                    }
                }
            }
        }
        main{
            #content{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 15vh;
                h1{
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    text-decoration: underline;
                }
                #slide{
                    width: 30%;
                    height: fit-content;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: {
                        right: auto;
                        left: auto;
                    }
                    h2{
                        height: 100%;
                        font-size: 5vw;
                        color: white;
                        background-color: black;
                        opacity: 50%;
                        font-family: fantasy;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    img{
                        width: 100%;
                        background-color: white;
                    }
                }
            }
        }
    }
}