#charizard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body{
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
h2{
    text-align: center;
    color: red;
}
#base-experience{
 text-align: center;
 color: red;
}
#height{
    text-align: center;
    color: red;
}
#power1{
    text-align: center;
    color: red;
}
#stats{
    text-align: center;
    color: red;
}
#stats2{
    text-align: center;
    color: red;
}
#stats3{
    text-align: center;
    color: red;
}
#stats4{
    text-align: center;
    color: red;
}
#stats5{
    text-align: center;
    color: red;
}
#stats6{
    text-align: center;
    color: red;
}
#stats7{
    text-align: center;
    color: red;
}
#stats8{
    text-align: center;
    color: red;
}
#weight{
    text-align: center;
    color: red;
}